<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunny.earthquake"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data 
            android:name="android.app.default_searchable"
            android:value=".EarthquakeSearchResultsActivity" />
        
        <activity
            android:name=".EarthquakeActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".PreferencesActivity"
            android:label="Earthquake Preferences" >
        </activity>
        <activity android:name=".FragmentPreferencesActivity" />
        <activity 
            android:name=".EarthquakeSearchResultsActivity"
            android:label="Earthquake Search"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data 
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <provider 
            android:name=".EarthquakeProvider"
            android:authorities="com.sunny.earthquakeprovider"
            android:exported="true" />
        
        <!--
            <service 
            android:enabled="true"
            android:name=".EarthquakeUpdateService" />
        -->
        <service 
            android:enabled="true"
            android:name=".EarthquakeUpdateIntentService" />
        <service 
            android:name=".EarthquakeRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        
        <receiver 
            android:name=".EarthquakeAlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.sunny.earthquake.ACTION_REFRESH_EARTHQUAKE_ALARM" />
            </intent-filter>
        </receiver>
        <receiver 
            android:name=".EarthquakeWidget"
            android:label="Earthquake" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sunny.earthquake.QUAKES_REFRESHED" />
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/quake_widget_info" />
        </receiver>
        <receiver 
            android:name=".EarthquakeListWidget"
            android:label="Earthquake List" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/quake_list_widget_info" />
        </receiver>
    </application>

</manifest>
